* {
	margin: 0;
	padding: 0;
}
.container {
	width: 50%;
	margin: 50px auto;
	position: relative;
}
.container input {
	height: 20px;
	width: 100px;
}
.container input:focus {
	border: 2px solid blue;
	border-radius: 2px;
}
.container .sc {
	display: none;
	position: absolute;
	top: 24px;
	left: 0px;
	width: 100px;
	border: 1px solid gray;
	border-top-style: none;
}

.container .sc p {
	width: 100%;
	padding: 2px 0;
	border-bottom: 1px solid gray;

}
.container .sc .selected {
	background-color: gray;
	color: white;
}


a:link{color:black;}
a:visited{color:red;}
a:hover{color:blue;}
a:active{color:green;}